<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars News, Facts, and Images...</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="icon" href="data:;base64,iVBORwOKGO="> <!-- Kills favicon.ico error -->
</head>

<body>

  <div class = "container-fluid">
    <div class = 'row banner'>
        <div class="col-md-3">
        </div>
        <div class='col-md-6 text-center'>
            <br> <br>
            <h1 class="banner_txt"> Mission to Mars </h1>
            <a href="/scrape" id="scrape_btn" class="btn btn-primary" role="button">Scrape New Data</a>
            <br> <br>
        </div>
        <div class="col-md-3">
        </div>
    </div>

    <div id="first_text" class="row">
        <div class='col-md-1'>
        </div>
        <div class="col-md-10">
        <br> <br>
            {% if news_title %}
                <h2>Latest Mars News</h2>
                <hr>
                <h3>{{news_title}}</h3>
                <p> {{paragraph_text}}</p>
                <p> {{paragraph_text_2}} </p>
                <br>
            {% else %}
                <h2>Click the Scrape New Data button above to get the latest Mars news, facts, and images</h2>
              <br>
            {% endif %}
        </div>
        <div class='col-md-1'>
        </div>
    </div>
    <hr>
    <div class='row'>
        <div class='col-md-8'>
            <h3>Featured Image</h3>
            <hr>
            <figure>
                <img src={{featured_image_url}} alt="Featured image for NASA mars page">
            </figure>
        </div>
        <div class='col-md-4'>
            <div class="data-box">
                <h3>Current Weather on Mars</h3>
                <hr>
                <p>{{mars_weather_tweet}}</p>
            </div>
            <br>
            <div class="data-box">
                <h3>Mars Facts</h3>
                <hr>
                {{mars_facts_table|safe}}
            </div>
            <br>
            
            <div class="data-box">
                <h3>Sources</h3>
                <hr>
                <p> <a target="_blank" href="https://mars.nasa.gov/news/" style="color: rgb(0, 0, 0)"> NASA Mars News Site </a> </p>
                <p> <a target="_blank" href="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars" style="color: rgb(0, 0, 0)"> JPL Mars Space Images </a> </p>
                <p> <a target="_blank" href="https://twitter.com/marswxreport?lang=en" style="color: rgb(0, 0, 0)"> Mars Weather Twitter </a> </p>
                <p> <a target="_blank" href="http://space-facts.com/mars/" style="color: rgb(0, 0, 0)"> Mars Facts </a> </p>
                <p> <a target="_blank" href="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars" style="color: rgb(0, 0, 0)"> Mars Hemisphere Images </a> </p>
            </div> 
        </div>
    </div>

    <div class="row">
        <div class='col-md-12'>
            <h2 class="text-center"> Mars Hemispheres </h2>
        </div>
    </div>

    <div class="row">
        <div class='col-md-6'>
            <figure>
                <figcaption class="hemisphere_caption"> {{hemisphere_title_1}} </figcaption>
                <img src={{hemisphere_img_1}} alt="Mars hemisphere 1">
            </figure>
        </div>
        <div class='col-md-6'>
            <figure>
                <figcaption class="hemisphere_caption"> {{hemisphere_title_2}} </figcaption>
                <img src={{hemisphere_img_2}} alt="Mars hemisphere 2">
            </figure>
        </div>
    </div>
    <div class="row">
        <div class='col-md-6'>
            <figure>
                <figcaption class="hemisphere_caption"> {{hemisphere_title_3}} </figcaption>
                <img src={{hemisphere_img_3}} alt="Mars hemisphere 3">
            </figure>
        </div>
        <div class='col-md-6'>
            <figure>
                <figcaption class="hemisphere_caption"> {{hemisphere_title_4}} </figcaption>
                <img src={{hemisphere_img_4}} alt="Mars hemisphere 4">
            </figure>
        </div>
    </div>
  </div>
  
</body>
</html>

